/HW5_Boomhower_Frye/data/Ratatat - Wildcat.mp3
/MidtermProject_Boomhower_Frye/data/AvgBLS.csv
/MidtermProject_Boomhower_Frye/data/AvgSalOverUnderByOCCFAMT.csv
/MidtermProject_Boomhower_Frye/data/DistinctOCCFAMT_AGELVL_LOC_SALLVL.csv
/MidtermProject_Boomhower_Frye/data/AGELVLTMagnitude.csv
/MidtermProject_Boomhower_Frye/data/DistinctPATCO_AGELVL_WORKSCH_SALLVL.csv
/MidtermProject_Boomhower_Frye/data/DistinctPATCO_AGELVL_WORKSCH_SALLVL_FINAL.csv
/MidtermProject_Boomhower_Frye/data/SALLVLTMagnitude.csv
/MidtermProject_Boomhower_Frye/data/WORKSCHTMagnitude.csv
